{{ define "content" -}}
<h2>Introduction</h2>

<p>The basic idea of this project is to create a Name Server that responds to the queries from
Global DNS servers like Cloudflare (1.1.1.1) or Google (8.8.8.8) with respecting the geography
of the IP Address it is requested from.</p>

<p>It does look difficult from the perspective of normal website user, but if you think about it from a
engineering perspective it is quite simple.</p>

<h3>DNS Infrastructure overview</h3>
<img data-src="/static/images/dns-infrastructure.png" src="" onerror="loadImage(this);">
{{ end -}}
